<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <div>
        <a href="#" style="width: 200px; height: 57px"
          ><img src="static\images\logo.png" alt="Logo"
        /></a>
      </div>
      <div style="display: flex; align-items: center">
        <a href="#">Home</a>
        <a href="{{url_for('predict_disease')}}">Predict</a>
        <a href="#">About us</a>
        <a href="#">Contact</a>
      </div>
      <div >
        <button class="loginbutton">
          <a  href="{{ url_for('login') }}">Login</a>
        </button>
        <button class="signupbutton" id="signup">
          <a href="{{ url_for('signup') }}" style="color: white; margin: 0px 10px"
            >Sign Up</a
          >
        </button>
      </div>
    </div>
  </body>
</html>
